<ul class="list-group">
  <li class="list-group-item text-center" *ngFor="let x of data">{{x}}</li>
  
</ul>
<hr>
<button class="btn btn-primary" (click)="getData1()">observable 1</button>
<button class="btn btn-primary m-3" (click)="getData2()">observable 2</button>
<button class="btn btn-primary m-3" (click)="getData3()">observable 3</button>
<button class="btn btn-primary m-3" (click)="getData4()">observable 4</button>
<button class="btn btn-primary m-3" (click)="getData5()">observable 5</button>
<button class="btn btn-primary m-3" (click)="getData6()">observable 6</button>
<button class="btn btn-primary m-3" (click)="getData7()">observable 7</button>
<button class="btn btn-primary m-3" (click)="getData8()">observable 8</button>
<button class="btn btn-primary m-3" (click)="getData9()">observable 9</button>
<button class="btn btn-primary m-3" (click)="getData10()">observable 10</button>
<button class="btn btn-primary m-3" (click)="stop()">stop</button>
